.navBar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:64px;

  display:flex;
  align-items:center;
  gap:24px;

  background:rgba(244,244,244,0.85);
  backdrop-filter:blur(8px);

  z-index:1000;
  transition: top 0.25s ease;
}

.navBar--bannerAbove {
  top: 44px;
}

.logo{
  height:30px;
}

.navLinks{
  display:flex;
  gap:24px;
  list-style:none;
  font-size:16px;
  font-weight:700;
  margin:0;
  padding:0;
}

.navLinks li {
  cursor: pointer;
  transition: text-decoration 0.2s ease;
}

.navLinks li:hover {
  text-decoration: underline;
}

/* pushes icons to the far right */
.navIcons{
  margin-left:auto;
  display:flex;
  align-items:center;
  gap:30px;
  /*padding-right: 100px;*/
}

.navIcon{
  width:22px;
  height:22px;
  cursor:pointer;
  transition:opacity 0.2s ease, transform 0.2s ease;
}

.navIcon:hover{
  opacity:0.8;
  transform:translateY(-1px);
}

.navBarInner{
  width:100%;
  max-width:1300px;
  margin:0 auto;
  display:flex;
  align-items:center;
  gap:48px;
}

.navIconWrap{
  position:relative;
  display:inline-block;
}

.navBadge{
  position:absolute;
  top:-4px;
  right:-10px;

  min-width:5px;
  height:14px;
  padding:0 4px;

  border-radius:999px;
  font-size:10px;
  font-weight:600;
  line-height:14px;
  text-align:center;

  background:#ff3b30;
  color:#fff;

  pointer-events:none;
  box-shadow:0 2px 6px rgba(0,0,0,0.25);

}

