.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
  
    display: flex;
    align-items: center;
    gap: 24px;
  
    padding: 0 64px;
    background: rgba(244, 244, 244, 0.85);
    backdrop-filter: blur(8px);
  
    z-index: 1000;
  }
  
  .logo {
    height: 30px;
  }
  
  .navLinks {
    display: flex;
    gap: 24px;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
  }
  